.timer {
  min-width: 151px;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #dfe7ec;
  border-radius: 5px;
  &__title {
    color: #7191a5;
    font-weight: bold;
    font-size: 15px;
  }
  &__value {
    color: #304859;
    font-weight: bold;
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .timer {
    width: 255px;
    height: 72px;
    display: flex;
    border-radius: 10px;
    &__title {
      color: #7191a5;
      font-weight: bold;
    }
    &__value {
      color: #304859;
      font-weight: bold;
      font-size: 32px;
    }
  }
}
